.card{
  border: 0px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  height: 70%;
}

/* LOGIN */
img{
  max-width: 30%
}
.container{
  padding: 22px;
}
.content{
  height: 50vh;
}
input{
  width: 70%;
  margin-left: 15%
}
button{
  background-color: rgb(255, 99, 19);
  border-color: rgb(255, 99, 19);
}
button:hover{
  background-color: rgb(180, 77, 26);
  border-color: rgb(180, 77, 26);
}

.parrafo p a{
  color: rgb(255, 99, 19);;
}
